.lines .line { fill: none; stroke-width: 3px; }
.axis .domain { fill: none; stroke-width: 0px; }
.dots circle { fill: none; stroke-width: 3px; }
.zoom { cursor: move; fill: none; pointer-events: all; }
